<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <body style="background-color:#ded3c5;">
   <script>
   if (typeof navigator.serviceWorker !== 'undefined') {
     navigator.serviceWorker.register('sw.js')
   }
   </script>

    {% include navigation.html %}

    <main>
      <h1 id="-we-have-migrated-here-https-scripta-mirabilia-github-io-main-"><strong>We have <em>migrated</em></strong> <a href="https://scripta-mirabilia.github.io/main/"><strong>here!</strong></a></h1>
<p><strong>This address is now redundant.</strong></p>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
