---
layout: default
---

<p><img src="https://1d10t1c-stud10s.github.io/scripta-mirabilia/SMBannerV3.png" alt="SMBanner" class="centre"></p>
<p>Welcome to 1D10T1C-STUD10S&#39;s small project! A site about anything interesting. Simple and for anyone who desires to share anything.</p>
<p>Enjoy the random content!</p>
<p>Back to our homepage? 
Go <a href="https://1d10t1c-stud10s.github.io">here!</a></p>
<hr>
<h2 id="post-series">Post Series</h2>
<p>Find posts related to a certain topic bundled into one giant <strong>BEAUTIFUL KNOWLEDGE BANK</strong>!</p>
<p>You can visit the main series page <a href="https://1d10t1c-stud10s.github.io/scripta-mirabilia/series/">here!</a></p>
<hr>

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% include catalogue_item.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
