---
layout: default
---


<p>Welcome to 1D10T1C-STUD10S&#39;s small project! A site about anything interesting. Simple and for anyone who desires to share anything.</p>
<p>Enjoy the random content!</p>
<p>Back to our homepage? 
Go <a href="https://1d10t1c-stud10s.github.io">here!</a></p>
<hr>


<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% include catalogue_item.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
